@import "../variables/variables.scss";

//Primary Color Starts
.p0 {
  color: $clr-primary-zero;
}
.p1 {
  color: $clr-primary-one;
}
.p2 {
  color: $clr-primary-two;
}
.p3 {
  color: $clr-primary-three;
}
.p4 {
  color: $clr-primary-four;
}
.p5 {
  color: $clr-primary-five;
}
.p6 {
  color: $clr-primary-six;
}
//Primary Color Ends


//Primary Background Color Starts
.p0-bg {
  background: $clr-primary-zero;
}
.p1-bg {
  background: $clr-primary-one;
}
.p2-bg {
  background: $clr-primary-two;
}
.p3-bg {
  background: $clr-primary-three;
}
.p4-bg {
  background: $clr-primary-four;
}
.p5-bg {
  background: $clr-primary-five;
}
.p6-bg {
  background: $clr-primary-six;
}
//Primary Background Color Ends


//Secondary Color Starts
.s0 {
  color: $clr-secondary-zero;
}
.s1 {
  color: $clr-secondary-one;
}
.s2 {
  color: $clr-secondary-two;
}
.s3 {
  color: $clr-secondary-three;
}
.s4 {
  color: $clr-secondary-four;
}
.s5 {
  color: $clr-secondary-five;
}
.s6 {
  color: $clr-secondary-six;
}
//Secondary Color Ends


//Secondary Background Color Starts
.s0-bg {
  background: $clr-secondary-zero;
}
.s1-bg {
  background: $clr-secondary-one;
}
.s2-bg {
  background: $clr-secondary-two;
}
.s3-bg {
  background: $clr-secondary-three;
}
.s4-bg {
  background: $clr-secondary-four;
}
.s5-bg {
  background: $clr-secondary-five;
}
.s6-bg {
  background: $clr-secondary-six;
}
//Secondary Background Color Ends

//Greyscale Color Starts
.g0 {
  color: $clr-grayscale-zero;
}
.g1 {
  color: $clr-grayscale-one;
}
.g2 {
  color: $clr-grayscale-two;
}
.g3 {
  color: $clr-grayscale-three;
}
.g4 {
  color: $clr-grayscale-four;
}
.g5 {
  color: $clr-grayscale-five;
}
.g6 {
  color: $clr-grayscale-six;
}
//Greyscale Color Ends

//Greyscale Background Color Starts
.g0-bg {
  background: $clr-grayscale-zero;
}
.g1-bg {
  background: $clr-grayscale-one;
}
.g2-bg {
  background: $clr-grayscale-two;
}
.g3-bg {
  background: $clr-grayscale-three;
}
.g4-bg {
  background: $clr-grayscale-four;
}
.g5-bg {
  background: $clr-grayscale-five;
}
.g6-bg {
  background: $clr-grayscale-six;
}
//Greyscale Background Color Ends