@font-face {
  font-family: "basis_grotesque_arabic_proBlk";
  src: url("../../fonts/basisgrotesquearabicpro-black-webfont.woff2") format("woff2"), url("../../fonts/basisgrotesquearabicpro-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "basis_grotesque_arabic_proBd";
  src: url("../../fonts/basisgrotesquearabicpro-bold-webfont.woff2") format("woff2"), url("../../fonts/basisgrotesquearabicpro-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "basis_grotesque_arabic_proLt";
  src: url("../../fonts/basisgrotesquearabicpro-light-webfont.woff2") format("woff2"), url("../../fonts/basisgrotesquearabicpro-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "basis_grotesque_arabic_proMd";
  src: url("../../fonts/basisgrotesquearabicpro-medium-webfont.woff2") format("woff2"), url("../../fonts/basisgrotesquearabicpro-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "basis_grotesque_arabic_proRg";
  src: url("../../fonts/basisgrotesquearabicpro-regular-webfont.woff2") format("woff2"), url("../../fonts/basisgrotesquearabicpro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Font Variables Starts*/
/*Fonts Families and Weights Starts*/
/*Fonts Families and Weights Ends*/
/*Fonts Size Starts*/
/*Fonts Size Ends*/
/*Line Height Starts*/
/*Line Height Ends*/
/* Font Variables Ends*/
/*Colors Varaibles Starts*/
/*Primary Colors Starts*/
/*Primary Colors Ends*/
/*Secondary Colors Starts*/
/*Secondary Colors Ends*/
/*Grayscale Colors Starts*/
/*Grayscale Colors Ends*/
/*Colors Varaibles Ends*/
@media only screen and (max-width: 992px) {
  .header .navbar {
    padding: 24px 24px;
    position: relative;
  }
}
@media only screen and (max-width: 992px) {
  .header .navbar .menu-items {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .container,
  .container-fluid,
  .about-hero {
    padding: 24px 24px;
  }
}

@media only screen and (max-width: 992px) {
  .hero {
    padding: 40px 24px !important;
  }
}

@media only screen and (max-width: 992px) {
  h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media only screen and (max-width: 992px) {
  h2 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

@media only screen and (max-width: 992px) {
  h3 {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

@media only screen and (max-width: 992px) {
  .h3-b {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

@media only screen and (max-width: 992px) {
  h4 {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 992px) {
  .h4-b {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 992px) {
  .body-l {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 992px) {
  .body-l-bold {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 992px) {
  .body-s {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 992px) {
  .body-s-bold {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 992px) {
  .body-s-m {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@media only screen and (max-width: 992px) {
  .body-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@media only screen and (max-width: 992px) {
  .btn-text {
    font-size: 0.875rem;
    line-height: 1rem;
  }
}

@media only screen and (max-width: 992px) {
  a {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@media only screen and (max-width: 992px) {
  .m-80 {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 992px) {
  .clients #image-carousel .splide__track .splide__list .splide__slide img {
    width: 120px;
    height: auto;
  }
}

@media only screen and (max-width: 992px) {
  #image-carousel4 .splide__track .splide__list .splide__slide img {
    width: 120px;
    height: auto;
  }
}

@media only screen and (max-width: 992px) {
  .hours {
    padding: 24px !important;
  }
}
@media only screen and (max-width: 992px) {
  .hours .cards {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 992px) {
  .hours .cards .card {
    width: 350px;
    height: 350px;
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 992px) {
  .services .services-content {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 992px) {
  .services .services-content .slick-wrapper {
    width: 100%;
    padding: 24px;
  }
}
@media only screen and (max-width: 992px) {
  .services .services-content .slick-wrapper #slick1 {
    display: flex;
    flex-direction: column !important;
  }
}
@media only screen and (max-width: 992px) {
  .services .services-content .slick-wrapper #slick1 .slide-item {
    width: 150px !important;
    height: 150px;
  }
}

@media only screen and (max-width: 992px) {
  .footer-one {
    padding: 24px 24px;
    flex-direction: column !important;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 992px) {
  .footer-one .left {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .footer-one .right {
    width: 100%;
    margin-top: 40px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 40px 80px;
  }
}
@media only screen and (max-width: 992px) {
  .footer-one .right .m-24 {
    margin-top: 12px;
  }
}

@media only screen and (max-width: 992px) {
  .footer-two {
    padding: 24px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 992px) {
  .footer-two .text-area {
    width: 100%;
    margin-top: 8px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px 0;
  }
}

@media only screen and (max-width: 992px) {
  .about-section-first .row {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 992px) {
  .about-section-first .row .col {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .about-section-first .row .col img {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .about-section-second .row {
    width: 100%;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 992px) {
  .about-section-second .row .col {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .about-section-second .row .col img {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .contact .row {
    flex-direction: column;
    padding: 0;
    gap: 0;
  }
}
@media only screen and (max-width: 992px) {
  .contact .row .col {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .contact .row .col .form-section {
    width: 100%;
    margin-top: 40px;
    padding: 16px;
  }
}
@media only screen and (max-width: 992px) {
  .contact .row .col .form-section input,
  .contact .row .col .form-section textarea {
    width: 100%;
  }
}/*# sourceMappingURL=media_queries.css.map */