@import "../../../../assets/fonts/fonts.scss";

/* Font Variables Starts*/
/*Fonts Families and Weights Starts*/
$ff-primary-regular: "basis_grotesque_arabic_proRg";
$ff-primary-medium: "basis_grotesque_arabic_proMd";
$ff-primary-light: "basis_grotesque_arabic_proLt";
$ff-primary-bold: "basis_grotesque_arabic_proBd";
$ff-primary-black: "basis_grotesque_arabic_proBlk";
/*Fonts Families and Weights Ends*/

/*Fonts Size Starts*/
$fs-12px: 0.75rem; //Font Size 14px
$fs-14px: 0.875rem; //Font Size 14px
$fs-16px: 1rem; //Font Size 16px
$fs-18px: 1.125rem; //Font Size 18px
$fs-20px: 1.25rem; //Font Size 20px
$fs-21px: 1.3125rem; //Font Size 21px
$fs-24px: 1.5rem; //Font Size 24px
$fs-32px: 2rem; //Font Size 32px
$fs-40px: 2.5rem; //Font Size 40px
$fs-56px: 3.5rem; //Font Size 56px
$fs-64px: 4rem; //Font Size 64px
/*Fonts Size Ends*/


/*Line Height Starts*/
$lh-60px: 3.75rem;
$lh-48px: 3rem;
$lh-40px: 2.5rem;
$lh-36px: 2.25rem;
$lh-32px: 2rem;
$lh-30px: 1.875rem;
$lh-28px: 1.75rem;
$lh-27px: 1.688rem;
$lh-24px: 1.5rem;
$lh-22px: 1.375rem;
$lh-18px: 1.125rem;
$lh-16px: 1rem;
/*Line Height Ends*/
/* Font Variables Ends*/

/*Colors Varaibles Starts*/
/*Primary Colors Starts*/
$clr-primary-zero: #BFC2FF;
$clr-primary-one: #8084FF;
$clr-primary-two: #4047FF;
$clr-primary-three: #000AFF;
$clr-primary-four: #0007BF;
$clr-primary-five: #000580;
$clr-primary-six: #000240;
/*Primary Colors Ends*/

/*Secondary Colors Starts*/
$clr-secondary-zero: #FFE5BF;
$clr-secondary-one: #FFCB80;
$clr-secondary-two: #FFB040;
$clr-secondary-three: #FF9600;
$clr-secondary-four: #BF7000;
$clr-secondary-five: #804B00;
$clr-secondary-six: #402500;
/*Secondary Colors Ends*/

/*Grayscale Colors Starts*/
$clr-grayscale-zero: #FFFFFF;
$clr-grayscale-one: #E4E4E4;
$clr-grayscale-two: #B7B7B7;
$clr-grayscale-three: #909090;
$clr-grayscale-four: #646464;
$clr-grayscale-five: #353535;
$clr-grayscale-six: #000000;
/*Grayscale Colors Ends*/
/*Colors Varaibles Ends*/

