@import "../variables/variables.scss";

.primary-btn{
    width: 100%;
    padding: 8px 16px;
    background: $clr-primary-three;
    color: $clr-grayscale-zero;
}

.primary-btn:hover{
    background: $clr-primary-five;
}

.secondary-btn{
    width: 100%;
    padding: 8px 16px;
    background: $clr-secondary-three;
    color: $clr-grayscale-zero;    
}

.secondary-btn:hover{
    background: $clr-secondary-five;
}